langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
wikipedia
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langgraph
gradio
sqlite3
langgraph-checkpoint-sqlite
playwright
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
langchain_chroma